<html>
    <head>
        <title>Trello Project</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">   
    </head>

    <body>
        <ul>
            {% for board in boards %}
                <li><a href="{% url 'boardContent' board_id=board.id %}">{{ board }}</a></li>
            {% endfor %}
            <a href="{% url 'addBoard' %}">Add Board</a>
        </ul>
    </body>
</html>