<!DOCTYPE html>
<html>
    <head>
        <title>Trello Project</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">   
    </head>
    

    <body>
        <div>
            <h1><a href="/">Home</a></h1>
        </div>
        <div class="container">
            <h1>{{board}}</h1>
            <p><a href="{% url 'editBoard' board_id=board.id %}">Edit Board</a> <a href="{% url 'deleteBoard' board_id=board.id %}">Delete Board</a> </p>
            <p><a href="{% url 'addList' board_id=board.id %}">Add List</a></p>

            <div class="row">
                    <div class="col-sm-3">
                            {% for list in board_lists %}
                            <ul class="list-group "> {{ list }}   <a href="{% url 'editList' board_id=board.id list_id=list.id %}"><span class="glyphicon glyphicon-edit"></span></a>   <a href="{% url 'deleteList' board_id=board.id list_id=list.id %}"><span class="glyphicon glyphicon-remove-circle"></span></a>
                                {% for card in list_cards %}
                                    {% if card.board_list.id == list.id %}
                                        <li class="list-group-item">{{ card }}<a href="{% url 'editCard' board_id=board.id list_id=list.id card_id=card.id %}"> <span class="glyphicon glyphicon-edit"></span></a><a href="{% url 'deleteCard' board_id=board.id list_id=list.id card_id=card.id %}"> <span class="glyphicon glyphicon-remove-circle"></span></a></li>
                                    {% endif %}
                
                                {% endfor %}
                               <a class="list-group-item" href="{% url 'addCard' board_id=board.id list_id=list.id %}">Add Card</a>
                            </ul>
                            {% endfor %}
                    </div>
                    
            </div>
            
        </div>

    </body>
</html>